PORT=8080
SESSION_SECRET="hasdfak1121kf(change the secret)"
NODE_ENV="development" (change for production)


DATABASE_URL="postgresql://postgres:{username}@{host}:5432/{database}?schema=public"
DATABASE_URL="postgresql://postgres:code@db:5432/carter?schema=public"  (for docker)

REDIS_HOST="redis" (for docker or else dont provide)
REDIS_PORT=6379

#oauth credetial
CLIENT_ID="(oauth client id)"
CLIENT_SECRET= "(oauth secret)"
CLIENT_URL="http://localhost:3000"

# email (optional)
SERVER_EMAIL="(email with permissions to send mail)" --optional
EMAIL_PASSWORD="(email password)" --optional

# cloudinary
CLOUDINARY_CLOUD_NAME="(clodinary cloud name)"
CLOUDINARY_KEY="(cloud key)"
CLOUDINARY_SECRET="(cloud secret)"

#stripe
STRIPE_SK="your secret key"

