PORT=8080
SESSION_SECRET="hasdfak1121kf(change the secret)"
NODE_ENV="development" (change for production)


DATABASE_URL="postgresql://postgres:{username}@{host}:5432/{database}?schema=public"

#oauth credetial
CLIENT_ID="(oauth client id)"
CLIENT_SECRET= "(oauth secret)"
CLIENT_URL="http://localhost:5173"

# email (optional)
SERVER_EMAIL="(email with permissions to send mail)" --optional
EMAIL_PASSWORD="(email password)" --optional

# cloudinary
CLOUDINARY_CLOUD_NAME="(clodinary cloud name)"
CLOUDINARY_KEY="(cloud key)"
CLOUDINARY_SECRET="(cloud secret)"

